.about {
    padding-top: calc(var(--header-height) + 55px);

    .container {
        display: flex;
        justify-content: center;

        .textbox {
            max-width: 608px;
            text-align: center;

            .des {
                max-width: initial;
            }
        }
    }

    @include xs {
        .container {
            justify-content: initial;

            .textbox {
                text-align: initial;
            }
        }
    }
}

.question {
    padding-top: 79px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);
        margin-top: 26px;

        .block-item {
            padding: 58px 32px;

            &__content {
                display: flex;
                align-items: flex-start;

                .textbox {
                    margin-left: 22px;
                    max-width: 380px;

                    .des {
                        margin: initial;
                        max-width: initial;
                    }
                }
            }
        }
    }

    .blur {
        top: -90%;
        left: -30%;
    }

    @include sm {
        padding-top: 17px;

        .question__wrapper {
            grid-template-columns: 1fr;

            .block-item {
                .block-item__content {
                    flex-direction: column;

                    .textbox {
                        margin-left: initial;
                        margin-top: 15px;
                    }
                }
            }
        }

        .blur {
            top: -25%;
            left: -90%;
        }
    }
}

.our {
    padding-left: 5px;
    padding-top: 226px;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-right: initial;
        max-width: initial;
    }

    &__content {
        // width: calc(714px + var(--padding));
        padding-left: var(--padding);

        &-text {

            &:last-child {
                margin-top: 79px;
            }

            .des {
                max-width: initial;
            }
        }
    }

    &__img {
        padding-left: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include sm {
        padding-top: 33px;
        padding-left: initial;

        .container {
            display: block;
            max-width: var(--max-width-container);
            padding-right: var(--gap);

            .our__content {
                .textbox {
                    &:last-child {
                        margin-top: 74px;
                    }
                }
            }
        }
    }
}

.timeline {
    padding-top: 142px;

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--grid-gap);
        align-items: baseline;

        .textbox {

            &.sticky {
                grid-column: 1/5;
                position: sticky;
                top: var(--header-height);
            }
        }
    }

    &__content {
        grid-column: 6/13;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid var(--white-cl);

        &-detail {
            margin-left: 54px;
        }

        &:not(:last-child) {
            margin-bottom: 80px;
        }
    }

    @include sm {
        padding-top: 81px;

        .container {
            grid-template-columns: 1fr;

            .textbox {
                &.sticky {
                    grid-column: initial;
                    position: initial;
                }
            }
        }

        .timeline__content {
            grid-column: initial;
        }
    }
}

.team {
    padding-top: 115px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        margin-top: 45px;
    }

    &__member {
        background-color: var(--darkBlue-cl);
        border-radius: 40px;
        padding: 24px;

        &-img {
            aspect-ratio: 329/403;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .user {
            div {
                margin-left: initial;
                padding-top: 32px;
            }
        }
    }

    @include sm {
        .team__wrapper {
            grid-template-columns: 1fr;
        }
    }
}

.investors {
    padding-top: 43px;
    padding-bottom: 80px;

    .container {
        .company {
            .textbox {
                .des {
                    display: block;
                }
            }

            &__content {
                margin-top: 38px;
            }
        }
    }
}